.subscript {
    height: 400px;
    background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true') center;
    background-size: cover;

    input {
        width: 215px;
    }

    button {
        width: 135px;
    }
}