<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header border border-gray">
    <div class="container-md">
      <div class="row py-9 py-md-11">
        <div class="col"></div>
        <h1 class="title col text-center fs-5 fw-normal m-0 lh-1"><a class="text-primary" href="/">EXHIBINECTION</a>
        </h1>
        <ul class="sign-menu col d-flex justify-content-end align-center m-0 lh-sm">
          <li class="sign me-13"><a href="#">Sign in</a></li>
          <li class="sign me-13"><a href="#">Sign up</a></li>
          <li class="pe-3"><a class="position-relative" href="#"><i
                class="material-icons text-black">confirmation_number</i><span
                class="fs-1 text-white bg-secondary rounded-circle position-absolute top-0 start-100 translate-middle px-3 py-1">3</span></a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <%- contents %>
  
  <footer class="footer">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center py-11">
        <div class="d-flex flex-wrap align-items-center">
          <a class="fs-5 text-black lh-1 me-7" href="/">EXHIBINECTION</a>
          <p class="m-0">© 2020. All Rights Reserved.</p>
        </div>
        <ul class="sign-menu d-md-flex">
          <li><a class="me-10" href="#">Sign in</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>