.banner {
    height: 480px;
    background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg?raw=true') center;
    background-size: cover;
}